@font-face {
  font-family: 'MuseoSansCyrlReg';
  src: url("../fonts/MuseoSansCyrl_300.otf"); }

@font-face {
  font-family: 'MuseoSansCyrlMed';
  src: url("../fonts/MuseoSansCyrl_500.otf"); }

body {
  font-family: 'MuseoSansCyrlMed';
  color: rgba(0, 0, 0, 0.9); }
  body a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all ease .2s;
    transition: all ease .2s; }
  body a:hover,
  body a:focus {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none; }

audio {
  width: 100%;
  max-width: 100%; }

img {
  max-width: 100%; }

button:focus,
button,
input,
select {
  outline: none !important; }

textarea {
  resize: vertical;
  margin-bottom: 10px !important; }

.row {
  margin: 0 -10px; }

.container-fluid, .container, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 10px; }

.ic-menu {
  width: 42px;
  height: 26px;
  margin-top: 25px; }

.top-header {
  padding: 12px 0; }

.btn-lg.btn-blue {
  height: 40px;
  border-radius: 4px;
  min-width: 158px; }

.logo {
  height: 55px;
  float: right; }

.change-lang {
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px; }
  .change-lang a {
    color: #979797;
    padding-left: 7px; }
  .change-lang a.active,
  .change-lang a:hover,
  .change-lang a:focus {
    color: #000;
    text-decoration: underline; }

.info-course {
  padding-left: 0;
  padding-top: 15px;
  margin: 0;
  text-align: center; }
  .info-course li {
    display: inline-block;
    text-transform: uppercase;
    padding: 4px 12px; }
    .info-course li span {
      font-weight: bold;
      color: #979797;
      padding-right: 5px; }
  .info-course li + li {
    border-left: 2px solid #00b4e1; }

.btn-blue {
  background-color: #00b4e1;
  color: #fff;
  font-family: 'MuseoSansCyrlReg';
  font-size: 15px; }

.ic-main-search {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../img/icons/ic-search.png") no-repeat center/18px;
  cursor: pointer;
  margin-left: 40px;
  vertical-align: middle; }

.right-header {
  padding-top: 10px; }

.bottom-header {
  background-color: #ebfbff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 180, 225, 0.25);
          box-shadow: 0 2px 3px 0 rgba(0, 180, 225, 0.25);
  min-height: 50px; }
  .bottom-header .navbar {
    margin-bottom: 0;
    border: 0; }
    .bottom-header .navbar .navbar-collapse {
      padding-left: 0; }
    .bottom-header .navbar .navbar-nav li a {
      font-size: 18px;
      padding: 15px 12px;
      color: #00b4e1;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .bottom-header .navbar .navbar-nav li.active a,
    .bottom-header .navbar .navbar-nav li a:hover,
    .bottom-header .navbar .navbar-nav li a:focus {
      color: #fff;
      background-color: #00b4e1; }

.ic-weather {
  width: 28px;
  height: 17px;
  background: url("../img/icons/ic-grey-weather.png") no-repeat center/28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.top-weather {
  color: rgba(0, 0, 0, 0.87);
  padding: 15px 0; }

.section-rows {
  padding: 30px 0; }

.img-main-news {
  height: 280px;
  overflow: hidden;
  margin-bottom: 12px;
  position: relative; }
  .img-main-news .ic-play-picture {
    position: absolute;
    bottom: 15px;
    left: 0; }
    .img-main-news .ic-play-picture i {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 1px; }
    .img-main-news .ic-play-picture i.ic-video {
      background: #00b4e1 url("../img/icons/ic-play.png") no-repeat center/13px; }
    .img-main-news .ic-play-picture i.ic-picture {
      background: #00b4e1 url("../img/icons/ic-picture.png") no-repeat center/14px; }

.img-100 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.time-news {
  font-family: 'MuseoSansCyrlReg';
  color: rgba(0, 0, 0, 0.87); }
  .time-news span {
    padding-right: 12px; }

.icons {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px; }

.ic-view {
  width: 15px;
  height: 12px;
  background: url("../img/icons/black-eye.png") no-repeat center/15px; }

.ic-comments {
  width: 12px;
  height: 12px;
  background: url("../img/icons/black-comment.png") no-repeat center/12px; }

.tran-scale-img {
  overflow: hidden; }
  .tran-scale-img img {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }

.tran-scale-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.big-title-news {
  font-size: 24px;
  font-weight: bold; }

.img-news {
  height: 185px;
  position: relative; }

.item-news {
  background-color: #f6f6f6;
  margin: 10px 0; }
  .item-news .text-news {
    padding: 10px; }
  .item-news .time-news {
    margin-bottom: 0;
    color: rgba(116, 116, 116, 0.87); }
    .item-news .time-news .ic-view {
      background: url("../img/icons/grey-eye.png") no-repeat center/15px; }
    .item-news .time-news .ic-comments {
      background: url("../img/icons/grey-comment.png") no-repeat center/12px; }
  .item-news .title-news {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    max-height: 72px;
    overflow: hidden; }

.list-box-news {
  margin: 0 -10px; }
  .list-box-news .col-md-6 {
    padding: 0 10px; }

.title-box {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #00b4e1;
  padding: 10px 25px; }

.list-last-news {
  background-color: #f6f6f6;
  padding: 10px 20px;
  height: 1002px;
  overflow: auto;
  margin-bottom: 20px; }

.list-last-news::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #F5F5F5; }

.list-last-news::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5; }

.list-last-news::-webkit-scrollbar-thumb {
  background-color: #d8d8d8; }

.item-last-news {
  padding: 10px 0;
  border-bottom: 1px solid #d7d7d7; }
  .item-last-news a:hover {
    text-decoration: underline; }
  .item-last-news p {
    margin-bottom: 5px; }
  .item-last-news .tags-news {
    color: #00b4e1;
    font-size: 12px; }

.popular-news-box .list-last-news {
  height: 548px; }

.right-top-banner {
  margin-bottom: 20px;
  height: 434px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.right-bottom-banner {
  width: 100%;
  height: 307px;
  -o-object-fit: cover;
     object-fit: cover; }

.item-video {
  position: relative; }

.item-video.main-video {
  height: 254px;
  overflow: hidden; }

.item-video.min-box-video {
  height: 127px;
  width: 50%;
  float: left; }

.title-video {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  color: #fff;
  padding: 10px 20px; }
  .title-video .text-video {
    font-size: 18px;
    margin-bottom: 0;
    overflow: hidden;
    display: table-cell;
    vertical-align: bottom; }
  .title-video span {
    font-size: 12px;
    font-family: 'MuseoSansCyrlReg';
    display: block;
    margin-bottom: 5px; }

.ic-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 25px;
  background: url("../img/icons/ic-play.png") no-repeat center/23px;
  z-index: 2; }

.video-boxes {
  margin-bottom: 20px; }

.item-photo {
  position: relative;
  width: 33.3333%;
  height: 162px;
  float: left;
  overflow: hidden; }

.top-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25) url("../img/icons/ic-picture.png") no-repeat left 20px bottom 10px; }

.top-photo:hover {
  background-color: transparent; }

.list-audio {
  height: 640px;
  background-color: #f6f6f6;
  overflow: auto;
  padding: 10px 20px;
  margin-bottom: 20px; }

.list-audio::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #F5F5F5; }

.list-audio::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5; }

.list-audio::-webkit-scrollbar-thumb {
  background-color: #d8d8d8; }

.item-audio {
  padding: 10px 0;
  border-bottom: solid 1px #d7d7d7; }

.time-audio-news {
  font-size: 12px;
  margin-bottom: 7px;
  color: #9b9b9b;
  font-family: 'MuseoSansCyrlReg'; }

.top-footer {
  background-color: #eafbff;
  padding: 8px 0; }
  .top-footer .ic-weather {
    background-image: url("../img/icons/ic-weather.png"); }
  .top-footer .info-course {
    padding-top: 0; }

.search-bottom {
  float: right;
  width: 240px;
  height: 33px;
  border-radius: 8px;
  border: solid 1px #dcdcdc;
  background: #fff url("../img/icons/ic-search.png") no-repeat right 10px center/16px; }

.div-inline {
  float: left; }
  .div-inline div {
    display: inline-block;
    vertical-align: middle; }

.bottom-weather {
  margin-right: 60px; }

.icon-social {
  width: 12px;
  height: 12px;
  margin-left: 5px; }

.ic-ins {
  background: url("../img/icons/blue-ins.png") no-repeat center/contain; }

.ic-tw {
  background: url("../img/icons/blue-tw.png") no-repeat center/contain; }

.ic-fb {
  background: url("../img/icons/blue-fb.png") no-repeat center/contain; }

.ic-vk {
  background: url("../img/icons/blue-vk.png") no-repeat center/contain; }

.ic-email {
  width: 14px;
  height: 11px;
  margin-right: 10px;
  background: url("../img/icons/ic-email.png") no-repeat center/contain; }

.ic-phone {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: url("../img/icons/ic-phone.png") no-repeat center/contain; }

.blue-text {
  color: #00b4e1; }

.center-footer {
  font-family: 'MuseoSansCyrlReg';
  padding-bottom: 20px; }

.copyright {
  margin-top: 70px;
  color: #979797;
  max-width: 380px; }

.footer-menu {
  padding: 0; }
  .footer-menu li {
    list-style: none;
    margin-bottom: 8px; }
    .footer-menu li a {
      color: #979797; }

li.title-menu {
  text-transform: uppercase;
  font-weight: 600;
  color: #00b4e1; }

.right-footer {
  font-size: 12px; }
  .right-footer img {
    width: 120px;
    display: block;
    margin-bottom: 7px; }

.bottom-footer {
  border-top: solid 1px #00b4e1;
  padding-top: 10px; }

.news {
  margin-bottom: 20px; }

.title-page {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px; }

.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-family: 'MuseoSansCyrlReg'; }
  .breadcrumb li.active {
    color: #00b4e1; }
  .breadcrumb li a {
    color: rgba(110, 110, 110, 0.87); }

.min-title-page {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; }

.video-page .img-news {
  height: 260px; }

.top-play-ic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25) url("../img/icons/ic-play.png") no-repeat center/34px; }

.list-audio-page .item-audio {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border: 0;
  font-size: 18px;
  padding: 15px; }
  .list-audio-page .item-audio p {
    width: 80%; }

.in-news {
  font-size: 16px;
  font-family: 'MuseoSansCyrlReg';
  margin-bottom: 30px; }
  .in-news img,
  .in-news iframe {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 430px; }
  .in-news p {
    margin-top: 10px;
    line-height: 1.5; }

.tags {
  border-top: solid 1px #00b4e1;
  padding: 10px 0;
  color: #979797;
  font-family: 'MuseoSansCyrlReg'; }
  .tags a {
    color: #00b4e1;
    text-decoration: underline;
    padding-left: 5px; }

.modal-message .modal-content {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0; }

.modal-message .modal-body {
  padding: 15px 40px 30px; }

.modal-message .modal-header {
  border: 0;
  padding: 15px 40px; }

.modal-message .modal-title {
  font-size: 23px; }

.modal-message .form-control {
  margin-bottom: 20px;
  border-radius: 4px;
  border: solid 2px #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px; }

.modal-message input.form-control {
  height: 40px; }

.modal-message .form-control::-webkit-input-placeholder {
  color: #000; }

.modal-message .form-control:-ms-input-placeholder {
  color: #000; }

.modal-message .form-control::-ms-input-placeholder {
  color: #000; }

.modal-message .form-control::placeholder {
  color: #000; }

.modal-message .btns .btn {
  height: 40px;
  font-size: 15px;
  width: 48%;
  margin-top: 15px; }

.btns .btn-white {
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  background-color: transparent; }

.menu-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .menu-box .left-footer {
    padding: 0 40px; }

.menu-box.open-menu {
  opacity: 1; }

.in-box-menu {
  width: 440px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }

.top-menu {
  padding: 30px 40px; }
  .top-menu .logo {
    width: 110px;
    float: none;
    margin: 0;
    padding: 0; }

.close-menu {
  vertical-align: bottom;
  margin-right: 50px;
  width: 40px;
  height: 40px;
  background: url("../img/icons/delete-cross.png") no-repeat center/40px;
  cursor: pointer; }

.menu-left ul {
  padding: 0;
  margin-top: 15px; }
  .menu-left ul li {
    list-style: none;
    font-size: 18px;
    color: #000;
    padding: 8px 40px; }

.bottom-menu {
  padding: 60px 40px 20px; }
  .bottom-menu ul {
    border-top: solid 1px #979797;
    border-bottom: solid 1px #979797;
    padding: 20px 0; }
    .bottom-menu ul li {
      list-style: none; }
      .bottom-menu ul li a {
        color: #979797; }

.div-view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 1; }

.form-add-comments .form-control {
  margin-bottom: 15px; }

.form-add-comments .form-control::-webkit-input-placeholder {
  color: #000; }

.form-add-comments .form-control:-ms-input-placeholder {
  color: #000; }

.form-add-comments .form-control::-ms-input-placeholder {
  color: #000; }

.form-add-comments .form-control::placeholder {
  color: #000; }

.social-icons {
  position: fixed;
  top: 10%;
  right: 0;
  width: 40px;
  z-index: 1000; }
  .social-icons i {
    width: 100%;
    height: 48px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .social-icons i.ic-tw {
    background: #f2f2f2 url("../img/icons/tw-default.png") no-repeat center/24px; }
  .social-icons i.ic-fb {
    background: #f2f2f2 url("../img/icons/fb-default.png") no-repeat center/12px; }
  .social-icons i.ic-ins {
    background: #f2f2f2 url("../img/icons/ins-default.png") no-repeat center/24px; }
  .social-icons i.ic-vk {
    background: #f2f2f2 url("../img/icons/vk-default.png") no-repeat center/24px; }
  .social-icons i.ic-tw:hover {
    background-image: url("../img/icons/tw-active.png"); }
  .social-icons i.ic-fb:hover {
    background-image: url("../img/icons/fb-active.png"); }
  .social-icons i.ic-ins:hover {
    background-image: url("../img/icons/ins-active.png"); }
  .social-icons i.ic-vk:hover {
    background-image: url("../img/icons/vk-active.png"); }

.search-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }

@media (min-width: 768px) {
  #myModal .modal-dialog {
    width: 540px; } }

@media (max-width: 991px) {
  .photo-gallery-boxes {
    margin-bottom: 20px; }
  .list-audio-page .item-audio {
    font-size: 16px; }
  .right-top-banner {
    height: 350px; } }

@media (max-width: 767px) {
  .right-header {
    display: none; }
  .top-header {
    background-color: #ebfbff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 180, 225, 0.25);
            box-shadow: 0 2px 3px 0 rgba(0, 180, 225, 0.25); }
  .ic-menu {
    margin-top: 15px; }
  .in-box-menu {
    width: 100%;
    background-color: #ebfbff; }
  .top-menu,
  .bottom-menu {
    padding: 10px 15px; }
  .menu-box .left-footer {
    padding: 10px 15px; }
  .menu-left ul li {
    padding: 8px 15px; }
  .top-menu .logo {
    float: right; }
  .close-menu {
    margin-top: 10px; }
  .list-last-news,
  .popular-news-box .list-last-news,
  .list-audio {
    height: auto; }
  .item-photo {
    width: 50%; }
  .bottom-weather {
    margin-right: 0;
    margin-top: 10px; }
  .search-bottom {
    width: 160px; }
  .right-footer {
    text-align: center; }
    .right-footer img {
      margin: 0 auto; }
  .top-menu .search-bottom {
    width: 100%;
    margin-top: 10px; }
  .last-news-box {
    margin-top: 20px; }
  .in-news img,
  .in-news iframe {
    height: 350px; } }
